body.rtl{
  
  direction: rtl;
  text-align: right;
  unicode-bidi: bidi-override;
//rtl
@import "custom/rtl/general-rtl";
@import "custom/rtl/spacing-rtl";
@import "custom/rtl/float-rtl";
@import "custom/rtl/text-rtl";
@import "custom/rtl/structure-rtl";
@import "custom/rtl/plugins-rtl";
@import "custom/rtl/bootstrap-rtl";
@import "custom/rtl/components-rtl";
@import "custom/rtl/pages-rtl";
}