body {
    background: url('/assets/images/home-bg.png') no-repeat center center fixed;
    background-size: cover; /* Ensure the image covers the entire viewport */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Make sure the body takes up the full height */
  }
  
  .container {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background for better text readability */
    padding: 20px; /* Add padding inside the container */
    border-radius: 8px; /* Optional: round the corners of the container */
    margin-top: 5rem; /* Space from the top of the viewport */
  }
  .custom-button {
    background-color: transparent;
    padding: 15px 30px;
    font-size: 24px;
    border: 2px solid #d4af37;
    color: #FFFFFF;
  }
  
  .custom-button:hover {
    background-color: #d4af37;
    border-color: #d4af37;
    color: #FFFFFF;
  }
  
  .logo-image {
    max-width: 100%;
    margin-top: 5px;
    height: auto;
  }
  .row {
    margin: 0 auto; /* add horizontal margin and center the row */
    text-align: center; /* center all inline elements inside the row */
  }
  
  .row > * { /* target all direct children of the row */
    margin: 20px auto; /* add margin to each element */
  }