
<div     [ngStyle]="{'background-image': 'url(\'assets/images/home2.jpg\')', 
                 'background-size': 'cover', 
                 'background-position': 'center center', 
                 'background-repeat': 'no-repeat', 
                 'min-height': '100vh'}">
<div class = "row">
    <<div style="display: flex; justify-content: center;  padding: 20px;">
        <img src="assets/images/logo.png" alt="Society Logo" class="logo-image">
      </div>
   

    <p style=" font-size: 2rem; padding-top: 3rem; color: #d4af37; text-align: center; margin-top: 3rem;">
        Continue as
    </p>
    
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-lg mx-3 custom-button" (click)="navigateTo('operator')">Operator</button>
        <button class="btn btn-lg mx-3 custom-button" (click)="navigateTo('merchant')">Merchant</button>
      </div>
</div>
</div>
<!-- <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            
            <div class="row logo-row" >
                       
              <div class="col-12 text-center">
                  <img src="assets/images/LogoInfinite/logo.svg" alt="" class="img-fluid">
                </div>
              </div>
            
            <div class="card-body pt-0">
              <div class="p-2">
                
              </div>
  
            </div>
          </div>
           
  
        </div>
      </div>
    </div>
  
    <!-- end container -->
<!--  </div> -->
