.account-pages {
    background-image: url('/assets/images/home2.jpg');
    background-size: cover;
    background-color: #454545; 
    color: #FFFFFF;
  }
  .custom-text {
    font-size: 24px; /* Example size */
    font-family: 'Arial', sans-serif; /* Example font family */
    font-weight: bold; /* Make the text bold */
  }