.btn-gold {
    background-color: #d4af37; /* gold color */
    border-color: #d4af37;
    color: #333; /* optional: set text color to dark gray */
  }
  .btn-brown {
    background-color: #6f6237; /* gold color */
    border-color: #6f6237;
    color: #333; /* optional: set text color to dark gray */
  }
  .container {
    max-width: 1400px; /* or any other width you prefer */
    max-height: 800px;
   
  }
  .logo-row {
    margin-bottom: 40px; /* adjust the value to your liking */
    margin-top: 20px;
  }
  .card {
    border: 5px solid #d4af37; /* add a 1px solid border with a light gray color */
    border-radius: 20px; /* add a 10px border radius to give it a rounded corner */
    padding: 20px; /* add some padding to create space between the border and the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle box shadow to give it some depth */
  }
  .account-pages {
    background-image: url('/assets/images/home2.jpg');
    background-size: cover;
    background-position: center center; 
    background-color: #454545; 
    color: #FFFFFF;
  }
 