
/* Hover effect for parent menu item with dropdown */
#sidebar-menu .is-parent > a:hover {
    color: #d4af37; /* Color on hover for parent item text */
}

/* Hover effect for parent menu item's icon */
#sidebar-menu .is-parent > a:hover i {
    color: #d4af37; /* Color on hover for parent item icon */
}
/* Hover effect for the primary menu item */
#sidebar-menu .side-nav-link-ref:hover {
    color: #d4af37; /* Color on hover for text */
   // background-color: #f8f9fa; /* Optional: Background color on hover */
}

/* Hover effect for the primary menu item's icon */
#sidebar-menu .side-nav-link-ref:hover i {
    color: #d4af37; /* Color on hover for the icon */
}



/* Hover effect for submenu items */
#sidebar-menu .sub-menu .side-nav-link-ref:hover {
    color: #d4af37; /* Color on hover for submenu text */
}

/* Hover effect for submenu items' icons */
#sidebar-menu .sub-menu .side-nav-link-ref:hover i {
    color: #d4af37; /* Color on hover for submenu icons */
}



